<ion-header></ion-header>

<ion-content class="ion-padding magnolia">
  <center>
    <img class="logo" src="../../../assets/img/logo.png" alt="monster inc" />
    <ion-text>
      <h1 style="text-shadow: 2px 2px 5px #000000; color: #ffffff">
        Registrar Producto
      </h1>
    </ion-text>
  </center>

  <ion-item class="ion-margin-top inputRedondo" lines="none">
    <ion-label position="stacked">Id producto</ion-label>
    <ion-input type="text" [(ngModel)]="mdl_idProducto" required="true">
      <!-- Puedes agregar un ícono específico para el Id producto -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Nombre del Producto</ion-label>
    <ion-input type="text" [(ngModel)]="mdl_nombreProducto" required="true">
      <!-- Puedes agregar un ícono específico para el Nombre del Producto -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Descripción</ion-label>
    <ion-textarea [(ngModel)]="mdl_descripcion" required="true"></ion-textarea>
    <!-- Puedes agregar un ícono específico para la Descripción -->
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Cantidad</ion-label>
    <ion-input type="number" [(ngModel)]="mdl_cantidad" required="true">
      <!-- Puedes agregar un ícono específico para la Cantidad -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Precio</ion-label>
    <ion-input type="number" [(ngModel)]="mdl_precio" required="true">
      <!-- Puedes agregar un ícono específico para el Precio -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Ubicación</ion-label>
    <ion-input type="text" [(ngModel)]="mdl_ubicacion" required="true">
      <!-- Puedes agregar un ícono específico para la Ubicación -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Cantidad Máxima</ion-label>
    <ion-input type="number" [(ngModel)]="mdl_cantidadMaxima" required="true">
      <!-- Puedes agregar un ícono específico para la Cantidad Máxima -->
    </ion-input>
  </ion-item>

  <ion-item class="ion-margin-top inputRedondo">
    <ion-label position="stacked">Cantidad Mínima</ion-label>
    <ion-input type="number" [(ngModel)]="mdl_cantidadMinima" required="true">
      <!-- Puedes agregar un ícono específico para la Cantidad Mínima -->
    </ion-input>
  </ion-item>

  <ion-button
    (click)="registrarProducto()"
    expand="block"
    class="primario-bg-button"
    color="ion-color-warning"
    >Registrar</ion-button
  >

  <ion-button
    (click)="volver()"
    expand="block"
    color="ion-color-warning"
    class="primario-bg-button"
    >Volver</ion-button
  >
</ion-content>
