<ion-content
  [fullscreen]="true"
  class="ion-padding magnolia ion-page"
  id="main-content"
>
  <ion-button
    (click)="volver()"
    expand="block"
    color="ion-color-warning"
    class="primario-bg-button"
    >Volver</ion-button
  >

  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="5">
        <img
          class="logo"
          src="../../../assets/img/logo.png"
          alt="monster inc"
        />
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col>
        <h1
          class="ion-text-center"
          style="text-shadow: 2px 2px 5px #000000; color: #ffffff"
        >
          Informes disponibles
        </h1>
      </ion-col>
    </ion-row>

    <!-- Aquí es donde se mostrarán los informes cuando estén disponibles -->

    <ion-button
      expand="block"
      color="ion-color-warning"
      class="primario-bg-button"
      (click)="openModal('torta', 'image/png')"
      >Grafico de Torta</ion-button
    >

    <ion-button
      expand="block"
      color="ion-color-warning"
      class="primario-bg-button"
      (click)="openModal('tabla', 'text/html')"
      >Informes en tablas</ion-button
    >

    <ion-button
      expand="block"
      color="ion-color-warning"
      class="primario-bg-button"
      (click)="openModal('grafico', 'image/png')"
      >Grafico</ion-button
    >
  </ion-grid>
</ion-content>
